.video-box {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    .template-video-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        &:hover {
            transform: translate(-50%, -55%);
        }
    }
}

.about-mission-box {
    border-left: 1px solid var(--light-stroke);
    border-right: 1px solid var(--light-stroke);
    padding: 0 32px;
}

.ur2-accordion {
    .accordion-item {
        border: 0;
        border-top: 1px solid var(--gray-color);
        border-bottom: 1px solid var(--gray-color);
        padding: 22px 0;
        .accordion-header {
            a {
                color: var(--primary-color);
            }
        }
        + .accordion-item {
            border-top: 0;
        }
    }
}

.ab-feature-box {
    padding: 0 12px;
    .icon-wrapper {
        svg {
            path {
                transition: var(--transition-base);
            }
        }
    }
    p {
        color: #8D8D8D
    }
    .explore-btn {
        color: var(--white-color);
        position: relative;;
        &::before {
            content: '';
            position: absolute;
            left: 0; 
            bottom: -1px;
            width: calc(100% - 24px);
            height: 1px;
            background-color: var(--white-color);
            transition: var(--transition-base);
        }
        &:hover {
            &::before {
                width: 0;
            }
        }
    }
    &:hover {
        .icon-wrapper {
            svg {
                path {
                    fill: var(--secondary-color);
                }
            }
        }
    }
}

.ur-team-card {
    img {
        transition: var(--transition-base);
    }
    .team-social {
        padding: 22px 16px;
        background-color: var(--primary-color);
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 15px;
        width: 100%;
        left: 0;
        bottom: -100px;
        transition: var(--transition-base);
        a {
            width: 42px;
            height: 42px;
            border: 1px solid var(--border-dark);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: var(--white-color);
            border-radius: 50%;
            &:hover {
                background-color: var(--white-color);
                color: var(--primary-color);
            }
        }
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
        .team-social {
            bottom: 0;
        }
    }
}